<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <listeners>
        <listener class-name="Tools.listeners.TestListener"/>
        <listener class-name="Tools.listeners.AnnotationTransformer"/>
    </listeners>
    <test name="Test" preserve-order="true">
        <classes>
            <class name="TestCase.NuevoTest"/>
        </classes>
    </test>
</suite>